@page
@model WAD.Pages.CreateAccountModel
@{
}
<link rel="stylesheet" href="~/css/Login.css"/>
    <section>
        <form>
            <div class="container">
                <label id="id1">Username : </label><br />
                <input type="text" placeholder="Enter Username" name="username" required>
                <br />
                <label id="id1">Password : </label><br />
                <input type="password" placeholder="Enter Password" name="password" required>
                <br />
                <label id="id1">Repeat Password : </label><br />
                <input type="password" placeholder="Enter Password" name="password" required>
                <br />
                <button type="submit" class="main">Create Account</button>
            </div>
        </form>
    </section>
