@page
@model WAD.Pages.IndexModel
@{
}
<link rel="stylesheet" href="~/css/Login.css">
<footer class="HomeFooter">A place for riders</footer>
<div class="HomePage1">Share ideas, all in one place</div>
<br>
<br>
<div class="HomePage1">Welcome</div>

