@page
@model WAD.Pages.LogInPageModel
@{
    ViewData["Title"] = "Login";
    <partial name="_ValidationScriptsPartial" />
}
<link rel="stylesheet" href="~/css/Login.css">

<title>Login</title>
<body class="Body1">
    <div class="container">
        <form method="post">
            <div>
                <label asp-for="UserInfo.Email">Username : </label><br>
                <input type="text" asp-for="UserInfo.Email" placeholder="Enter Username">
                <br />
                <span asp-validation-for="UserInfo.Email"></span>
            </div>
            <br><br>
                <div>
                    <label asp-for="UserInfo.Password">Password : </label>  <br>
                    <input type="password" asp-for="UserInfo.Password" placeholder="Enter Password">
                    <br />
                    <span asp-validation-for="UserInfo.Password"></span>
                </div>
                        <br><br />

                        <button type="submit" class="main" value="Submit">Login</button>
                        <br>

                        <div>

                            <input type="checkbox" checked="checked"> Remember me
                            <br>
                            <br>
                            <a class="a3" href="">Forgot password? </a>

                        </div>
                        <br>

                        <a asp-page="/CreateAccount" type="button" formnovalidate class="main">Create Account</a>

</form>
    </div>
</body>