.container {
    padding: 50px 50px 50px 50px;
    margin: 10px 10px 10px 0px;
    background: #0A2472;
    border-radius: 30%;
    text-align: center;
    width:fit-content;
}
.Body1{
    background-image: url(../Images/NinoSchurter_Header.jpg);
}
.HomeFooter {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.HomePage1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}